trigger:
- main

pr:
  branches:
    include:
      - main

parameters:
  # Whether to sign the output artifacts
- name: SignOutput
  type: boolean
  default: False

  # The platforms to build for
- name: Platforms
  type: object
  default:
  - x86
  - x64
  - arm64

  # The configurations to build for
- name: Configurations
  type: object
  default:
  - Debug
  - Release

variables:
  - template: /.pipelines/variables/global.yml@self

resources:
  repositories:
  - repository: templates
    type: git
    name: OneBranch.Pipelines/GovernedTemplates
    ref: refs/heads/main

extends:
  template: v2/Microsoft.NonOfficial.yml@templates
  parameters:
    platform:
      name: 'windows_undocked'
    git:
      fetchTags: false
    stages:
    - template: /.pipelines/templates/main.yml@self
      parameters:
        Platforms: ${{ parameters.Platforms }}
        Configurations: ${{ parameters.Configurations }}
        SignOutput: ${{ parameters.SignOutput }}
        IsRelease: False
