trigger:
- main
- release

parameters:
- name: SignOutput
  type: boolean
  default: False
- name: Platforms
  type: object
  default:
  - x86
  - x64
  - arm64
- name: Configurations
  type: object
  default:
  - Debug
  - Release

variables:
  MSIXVersion: '0.100'
  solution: 'src/WinGetStudio.sln'
  msixPackageDir: 'AppxPackages'
  msixbundlePackageDir: 'AppxBundles'
  testOutputArtifactDir: 'TestResults'
  WindowsContainerImage: 'onebranch.azurecr.io/windows/ltsc2019/vse2022:latest'

resources:
  repositories:
  - repository: templates
    type: git
    name: OneBranch.Pipelines/GovernedTemplates
    ref: refs/heads/main

extends:
  template: v2/Microsoft.NonOfficial.yml@templates
  parameters:
    platform:
      name: 'windows_undocked'
    git:
      fetchTags: false
    stages:
    - stage: Build_WinGetStudio
      dependsOn: []
      jobs:
      - ${{ each configuration in parameters.Configurations }}:
        - ${{ each platform in parameters.Platforms }}:
          - job: Build_${{ platform }}_${{ configuration }}
            pool:
              type: windows
            variables:
              runCodesignValidationInjection: ${{ false }}
              skipComponentGovernanceDetection: ${{ true }}
              ob_outputDirectory: $(Build.ArtifactStagingDirectory)/winget-studio
            timeoutInMinutes: 120
            steps:
            - task: NuGetToolInstaller@1

            - task: NuGetAuthenticate@1

            - task: PowerShell@2
              displayName: Build WinGet Studio
              retryCountOnTaskFailure: 2
              inputs:
                filePath: 'Build.ps1'
                arguments: -Platform "${{ platform }}" -Configuration "${{ configuration }}" -Version $(MSIXVersion) -BuildStep "msix" -AzureBuildingBranch "$(BuildingBranch)" -IsAzurePipelineBuild -OutputDir "$(ob_outputDirectory)"

            - task: PowerShell@2
              displayName: Move BinLog to output directory
              inputs:
                targetType: inline
                script: >-
                  dir $(Build.SourcesDirectory) -Recurse;
                  Move-Item -Path $(Build.SourcesDirectory)\WinGetStudio.${{ platform }}.${{ configuration }}.binlog -Destination $(ob_outputDirectory) -Force
                pwsh: true

            - task: CopyFiles@2
              displayName: Copy files to be published to staging directory
              inputs:
                targetFolder: $(ob_outputDirectory)
                contents: |
                  $(Build.SourcesDirectory)\AppxPackages

            - task: onebranch.pipeline.signing@1
              displayName: 'CodeSigning'
              inputs:
                command: 'sign'
                cp_code: 400 # CP-230012 - Microsoft Corporation (SHA2 Root - Standard Root)
                search_root: 'AppxPackages'
                files_to_sign: |
                    *.msix;

    - stage: Build_MsixBundle
      dependsOn: [Build_WinGetStudio]
      condition: in(dependencies.Build_WinGetStudio.result, 'Succeeded')
      jobs:
      - job: Build_MsixBundles
        pool:
          type: windows
        variables:
          runCodesignValidationInjection: ${{ false }}
          skipComponentGovernanceDetection: ${{ true }}
          ob_outputDirectory: $(Build.ArtifactStagingDirectory)/winget-studio
        steps:
        - ${{ each configuration in parameters.Configurations }}:
          - ${{ each platform in parameters.Platforms }}:
            - task: DownloadPipelineArtifact@2
              inputs:
                buildType: 'current'
                artifactName: msix_${{ platform }}_${{ configuration }}
                targetPath: $(appxPackageDir)\${{ configuration }}

          - task: PowerShell@2
            displayName: Build MsixBundle
            inputs:
              filePath: 'Build.ps1'
              arguments: -Configuration "${{ configuration }}" -Version $(MSIXVersion) -BuildStep "msixbundle" -IsAzurePipelineBuild -OutputDir "$(ob_outputDirectory)"

          - task: onebranch.pipeline.signing@1
            displayName: 'CodeSigning'
            inputs:
              command: 'sign'
              cp_code: 400 # CP-230012 - Microsoft Corporation (SHA2 Root - Standard Root)
              search_root: 'AppxBundles'
              files_to_sign: |
                  *.msixbundle;
          
          