trigger:
- main
- release

parameters:
- name: SignOutput
  type: boolean
  default: False
- name: Platforms
  type: object
  default:
  - x86
  - x64
  - arm64
- name: Configurations
  type: object
  default:
  - Debug
  - Release

variables:
 # MSIXVersion's second part should always be odd to account for stub app's version
  MSIXVersion: '0.101'
  solution: '**/WinGetStudio.sln'
  appxPackageDir: 'AppxPackages'
  testOutputArtifactDir: 'TestResults'

resources:
  repositories:
  - repository: templates
    type: git
    name: OneBranch.Pipelines/GovernedTemplates
    ref: refs/heads/main

extends:
  template: v2/Microsoft.Official.yml@templates
  parameters:
    platform:
      name: 'windows_undocked'

    git:
      fetchTags: false
    stages:
    - stage: Build_WinGetStudio
    
      dependsOn: []
      jobs:
      - ${{ each configuration in parameters.Configurations }}:
        - ${{ each platform in parameters.Platforms }}:
          - job: Build_${{ platform }}_${{ configuration }}
            pool:
              type: windows
            variables:
              ob_outputDirectory: $(Build.ArtifactStagingDirectory)/winget-studio
            timeoutInMinutes: 120
            steps:
            - task: NuGetToolInstaller@1

            - task: NuGetAuthenticate@1

            - task: PowerShell@2
              displayName: Build WinGet Studio
              retryCountOnTaskFailure: 2
              inputs:
                filePath: 'Build.ps1'
                arguments: -Platform "${{ platform }}" -Configuration "${{ configuration }}" -Version $(MSIXVersion) -BuildStep "fullMsix" -AzureBuildingBranch "$(BuildingBranch)" -IsAzurePipelineBuild

            - task: PowerShell@2
              displayName: Move BinLog to output directory
              inputs:
                targetType: inline
                script: >-
                  Move-Item -Path $(Build.SourcesDirectory)\WinGetStudio.${{ platform }}.${{ configuration }}.binlog -Destination $(ob_outputDirectory) -Force
                pwsh: true

            - task: CopyFiles@2
              displayName: Copy files to be published to staging directory
              inputs:
                targetFolder: $(ob_outputDirectory)
                contents: |
                  $(Build.SourcesDirectory)\AppxPackages

            - task: onebranch.pipeline.signing@1
              displayName: 'CodeSigning'
              inputs:
                command: 'sign'
                cp_code: 400 # CP-230012 - Microsoft Corporation (SHA2 Root - Standard Root)
                search_root: 'AppxPackages'
                files_to_sign: |
                    *.msix;

    - stage: Build_MsixBundle
      dependsOn: [Build_WinGetStudio]
      condition: in(dependencies.Build_WinGetStudio.result, 'Succeeded')
      jobs:
      - job: Build_MsixBundles
        steps:
        - ${{ each configuration in parameters.Configurations }}:
          - ${{ each platform in parameters.Platforms }}:
            - task: DownloadPipelineArtifact@2
              inputs:
                buildType: 'current'
                artifactName: msix_${{ platform }}_${{ configuration }}
                targetPath: $(appxPackageDir)\${{ configuration }}

          - task: PowerShell@2
            displayName: Build MsixBundle
            inputs:
              filePath: 'Build.ps1'
              arguments: -Configuration "${{ configuration }}" -Version $(MSIXVersion) -BuildStep "msixbundle" -IsAzurePipelineBuild

          - task: onebranch.pipeline.signing@1
            displayName: 'CodeSigning'
            inputs:
              command: 'sign'
              cp_code: 400 # CP-230012 - Microsoft Corporation (SHA2 Root - Standard Root)
              search_root: 'AppxBundles'
              files_to_sign: |
                  *.msixbundle;
          
          