trigger:
- main

parameters:
- name: SignOutput
  type: boolean
  default: False
- name: Platforms
  type: object
  default:
  - x86
  - x64
  - arm64
- name: Configurations
  type: object
  default:
  - Debug
  - Release

variables:
  - template: /.pipelines/variables/global.yml@self

resources:
  repositories:
  - repository: templates
    type: git
    name: OneBranch.Pipelines/GovernedTemplates
    ref: refs/heads/main

extends:
  template: v2/Microsoft.NonOfficial.yml@templates
  parameters:
    platform:
      name: 'windows_undocked'
    git:
      fetchTags: false
    stages:

    - stage: Build_WinGetStudio
      jobs:
      - ${{ each configuration in parameters.Configurations }}:
        - ${{ each platform in parameters.Platforms }}:
          - template: /.pipelines/templates/build.yml@self
            parameters:
              Platform: ${{ platform }}
              Configuration: ${{ configuration }}
              SignOutput: ${{ parameters.SignOutput }}

    - stage: Bundle_WinGetStudio
      dependsOn: [Build_WinGetStudio]
      condition: in(dependencies.Build_WinGetStudio.result, 'Succeeded')
      jobs:
      - ${{ each configuration in parameters.Configurations }}:
        - template: /.pipelines/templates/bundle.yml@self
          parameters:
            Platforms: ${{ parameters.Platforms }}
            Configuration: ${{ configuration }}
            SignOutput: ${{ parameters.SignOutput }}